<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th class="text-gray-300">Título</th>
        <th class="text-gray-300">Género</th>
        <th class="text-gray-300">Plataforma</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
       @for (game of games(); track game){
         <tr>
           <th>

           </th>
           <td>
             <div class="flex items-center gap-3 cursor-pointer" [routerLink]="['/admin/products', game.uuid]">
               <div class="avatar">
                 <div class="mask mask-squircle h-12 w-12">
                   <img class="cursor-pointer" [routerLink]="['/admin/products', game.uuid]"
                     [src]="game.image | gameImage"
                     [alt]="game.title" />
                 </div>
               </div>
               <div>
                 <a
                 [routerLink]="['/admin/products', game.uuid]"
                 class="font-bold hover:text-accent transition-colors duration-300">{{game.title}}</a>

                 <div class="text-sm opacity-50">{{game.genre}}</div>
               </div>
             </div>
           </td>
           <td>
            <!-- Fernando anade el pipe currency (creo que lo da el propio angular) -->
             {{game.developer}}
             <div class="text-sm opacity-50">{{game.release_year}}</div>
           </td>
           <!-- <td>{{game.platforms.join(", ")}}</td> -->
           <td>{{game.platforms}}</td>

          <!--  <th>
             <a [routerLink]="['/admin/products', game.uuid]"
             class="btn btn-ghost text-red-600 btn-xs">Borrar</a>
           </th> -->
           <th>
           <button class="text-red-500 hover:text-red-300" mat-button (click)="onDelete(game._id)">
  <mat-icon color="warn" style="vertical-align: middle; margin-right: 4px;">delete</mat-icon>
  Eliminar
</button>
           </th>
         </tr>

       }


  </table>
</div>
