<h1 class="text-3xl font-bold m-5">Mis favoritos</h1>

<!-- <app-pagination></app-pagination> -->


<!--
Si pongo esto muestro todos los juegos no los favoritos
<list-game></list-game> -->


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
@for (game of this.gamesResource.value()?.games; track game.uuid) {
  <game-card [game]="game"></game-card>
} @empty {
  <p>No tienes favoritos</p>
}
</div>

<app-pagination [pages]="gamesResource.value()?.pages ?? 0"
[currentPage]="paginationService.currentPage()" class="flex justify-center items-center mt-4 mb-10"></app-pagination>

