<h1 class="text-3xl font-bold m-5">Listado de juegos</h1>

<app-search (value)="query.set($event)"></app-search>
<!-- <app-pagination></app-pagination> -->

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">



  @for (game of this.searchResource.value(); track game.uuid) {
    <game-card [game]="game"></game-card>
  } @empty {

    @for (game of this.gamesResource.value(); track game.uuid) {
      <game-card [game]="game"></game-card>
  }
}



<!--   @for (game of this.gamesResource.value(); track game.uuid) {
    <game-card [game]="game"></game-card>
  } @empty {
    <p>No hay juegos Listado</p>
  } -->


  <!--   @for (game1 of this.game2Resource.value(); track game1.uuid) {
      <game-card [game]="game1"></game-card>
    } @empty {
      <p>No hay juegos Buscador</p>
    } -->

   <!--  @for (game of this.gamesResource.value(); track game.uuid) {
      <game-card [game]="game"></game-card>
    } @empty {
      <p>No hay juegos Listado</p>
    } -->



</div>


