<h1 class="text-3xl font-bold m-5">Listado de juegos</h1>
<category-select class="navbar-center hidden lg:flex menu menu-horizontal px-1 z-10"></category-select>
<list-game games="games"></list-game>

<!-- <app-search (value)="query.set($event)"></app-search> -->
<!-- <app-pagination></app-pagination> -->

<!-- <ul class="menu menu-horizontal px-1">
  <li class="z-10">
    <details>
      <summary>Categorías</summary>
      <ul class="flex justify-center shadow-xl text-xs border border-white m-0">
        <li><a routerLink="/">Todas</a></li>
        <li> <a routerLink="/genre/action">Accion</a></li>
        <li><a routerLink="/genre/adventure">Aventura</a></li>
        <li><a routerLink="/genre/indie">Indie</a></li>
        <li><a routerLink="/genre/shooter">Shooter</a></li>
      </ul>
    </details>
  </li>
  <li>
    <details>
    <summary>Rating</summary>
    <ul class="p-2 flex justify-center shadow-xl">
      <li><a>Mayor</a></li>
      <li><a>Menor</a></li>
    </ul>
  </details>
</li>
</ul> -->

<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">

  @for (game of this.searchResource.value(); track game.uuid) {
    <game-card [game]="game"></game-card>
  } @empty {

    @for (game of this.gamesResource.value(); track game.uuid) {
      <game-card [game]="game"></game-card>
  }
}
</div> -->



<!--   @for (game of this.gamesResource.value(); track game.uuid) {
    <game-card [game]="game"></game-card>
  } @empty {
    <p>No hay juegos Listado</p>
  } -->


  <!--   @for (game1 of this.game2Resource.value(); track game1.uuid) {
      <game-card [game]="game1"></game-card>
    } @empty {
      <p>No hay juegos Buscador</p>
    } -->

   <!--  @for (game of this.gamesResource.value(); track game.uuid) {
      <game-card [game]="game"></game-card>
    } @empty {
      <p>No hay juegos Listado</p>
    } -->





