<div class="navbar-center border hidden lg:flex z-10">
  <ul class="menu menu-horizontal px-1">
    <li>
      <details>
        <summary>Categorías</summary>
        <ul class="p-2 flex justify-center shadow-xl">
          <li><a routerLink="/">Todas</a></li>
          <li> <a routerLink="/genre/action">Accion</a></li>
          <li><a routerLink="/genre/adventure">Aventura</a></li>
          <li><a routerLink="/genre/indie">Indie</a></li>
          <li><a routerLink="/genre/shooter">Shooter</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details>
      <summary>Rating</summary>
      <ul class="p-2 flex justify-center shadow-xl">
        <li><a>Mayor</a></li>
        <li><a>Menor</a></li>
      </ul>
    </details>
  </li>
  </ul>
</div>
