<div class="pb-24 px-2">
<h1 class="text-xl font-bold mt-5 mb-5 text-blue-700">Juegos de<span class="text-xl text-blue-700 m-2">{{genre()}}</span></h1>

<app-search (value)="query.set($event)"></app-search>

<category-select class="navbar-center menu menu-horizontal px-1"></category-select>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">

@for (game of searchResource.value()?.games; track $index) {

    <game-card [game]="game"></game-card>
  } @empty {
    @for (game of this.gamesResource.value()?.games; track game.uuid) {
    <game-card [game]="game"></game-card>
  } @empty {
    <p class="m-5">No hay juegos de la categoria <span class="font-bold text-red-500">{{genre()}}</span></p>
  }

  }

</div>

<app-pagination [pages]="gamesResource.value()?.pages ?? 0"
[currentPage]="paginationService.currentPage()" class="flex justify-center items-center mt-4 mb-10"></app-pagination>

</div>
