<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img
      src="https://a.storyblok.com/f/178900/960x540/50aa75788a/one-piece-luffy-gear-5.jpg/m/filters:quality(95)format(webp)"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">

<a
class="link link-accent"
[routerLink]="['/game', 'juego']"> Ver juego</a>
    </div>
  </div>
</div>
