<div  class="card bg-base-100 shadow-md animate-fadeIn">
  <figure class="relative w-full aspect-[16/9] overflow-hidden cursor-pointer">
    <img [routerLink]="['/game', game().uuid]"
      [src]=" game().image| gameImage"
      [alt]="game().title" />

       <!-- Botón de favorito superpuesto -->
    <button
    class="absolute top-2 right-2 bg-white/60 hover:bg-white p-2 rounded-full text-xl transition-transform duration-300 ease-in-out transform"
    [class.scale-110]="game().favorite"
    [class.scale-100]="!game().favorite"
    (click)="toggleFavorite(game().uuid)">
    {{ game().favorite ? '♥️' : '♡' }}
  </button>

  </figure>
  <div class="card-body">
    <h2 class="card-title text-slate-400 text-xl">{{game().title}}</h2>
    <p>{{game().description | slice: 0 : 70}} ...</p>
    <div class="card-actions justify-end">


      <!-- Input para ingresar el rating -->
<!-- <input type="number" [(ngModel)]="ratingValue" min="0" max="10" placeholder="Nuevo rating"> -->
<!-- <button class="flex flex-auto text-2xl" (click)="ratingGame(game().uuid)">
  {{ game().rating }}
</button> -->


<div class="flex flex-auto">
  <span
    *ngFor="let value of [ 2, 4, 6, 8, 10]"
    (click)="ratingGame(game().uuid, value)"
    class="cursor-pointer text-3xl transition-transform transform hover:scale-125"
    [ngClass]="{'text-yellow-500': game().rating >= value, 'text-gray-400': game().rating < value}">
    ★
  </span>


<!--   <div class="rating rating-lg rating-half">
    <input type="radio" name="rating-11" class="rating-hidden" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-1 bg-yellow-500" aria-label="0.5 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-2 bg-yellow-500" aria-label="1 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-1 bg-yellow-500" aria-label="1.5 star" checked="checked" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-2 bg-yellow-500" aria-label="2 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-1 bg-yellow-500" aria-label="2.5 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-2 bg-yellow-500" aria-label="3 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-1 bg-yellow-500" aria-label="3.5 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-2 bg-yellow-500" aria-label="4 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-1 bg-yellow-500" aria-label="4.5 star" />
    <input type="radio" name="rating-11" class="mask mask-star-2 mask-half-2 bg-yellow-500" aria-label="5 star" />
  </div> -->
</div>

       <!-- <button class="flex flex-auto text-2xl" (click)="ratingGame(game().uuid)">{{ game().rating }}</button> -->
      <!--   <button class="text-2xl transition-transform duration-300 ease-in-out transform"
        [class.scale-110]="game().favorite"
        [class.scale-100]="!game().favorite" (click)="toggleFavorite(game().uuid)">
          {{ game().favorite ? '♥️' : '♡' }}
        </button> -->

        <button class="text-2xl transition-transform duration-300 ease-in-out transform"
        [class.scale-110]="game().isVisible"
        [class.scale-100]="!game().isVisible" (click)="toggleVisible(game().uuid)">
          {{ game().isVisible ? '✅' : '📋' }}
        </button>


    </div>
  </div>
</div>


<!--  <div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure class="relative w-full aspect-[16/9] overflow-hidden">
    <img [src]="game().image | gameImage" [alt]="game().title" class="w-full h-full object-cover"/>
  </figure>

  <div class="card-body">
    <div class="flex justify-between items-center">
      <h2 class="card-title text-accent text-xl">{{ game().title }}</h2>



    <p>{{ game().description | slice: 0 : 70 }} ...</p>



    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/game', game().title]"> Ver juego</a>
    </div>
  </div>
</div> -->
